<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
				<property name="username" value="scott"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/cn/mapper/EmpMapper.xml"/>
		<mapper resource="com/cn/mapper/deptMapper.xml"/>
		<mapper resource="com/cn/mapper/empAndDept.xml"/>
		<mapper resource="com/cn/mapper/deptSelectEmp.xml"/>
		<mapper resource="com/cn/interference/userMapper.xml"/>
		<mapper resource="com/cn/interference/orderMapper.xml"/>
		<mapper resource="com/cn/interference/articleMapper.xml"/>
	</mappers>
</configuration>